body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.example-box-centered {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.example-box-centered.small {
  width: 400px;
}
.example-box-centered.medium {
  width: 800px;
}
.example-box-centered.large {
  width: 1100px;
}
.cursor {
  cursor: pointer;
}
